* {
  font-family: "PT Sans", sans-serif;
}

@import "colors";
@import "mixins";

$pt: 0.75px;
$fpt: $pt * 0.8;
$breakSmall: 576px;
$breakMedium: 768px;
$breakLarge: 992px;
$breakXLarge: 1200px;

@import "header";
@import "footer";

main {
  @import "links";
  @import "controllers";
  @import "pageNavigation";
  @import "display";
  @import "charts";
}
